<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <center>
      <form action = "/recommendations" method = "post">
            enter user: <p><input type = "text" name = "user" /></p>
            enter skills: <p><input type = "text" name = "skills" /></p>
            enter city: <p><input type = "text" name = "city" /></p>
            enter experience: <p><input type = "text" name = "exp" /></p>
            enter education: <p><input type = "text" name = "edu" /></p>
            <p><input type = "submit" value = "search jobs" /></p>
      </form>
    </center>
</body>
</html>
