<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <center>
      <form action = "/recommendations" method = "post">
          <br><br>
<!--          <h3>select user:&nbsp&nbsp&nbsp&nbsp-->
<!--              <select name="user" id="user">-->
<!--                  {% for n in res %}-->
<!--                    <option>{{n}}</option>-->
<!--                  {% endfor %}-->
<!--              </select>-->
<!--          </h3>-->
          <p>enter user: <input type = "text" name = "user" /></p>
          <p>enter skills: <input type = "text" name = "skills" /></p>
          <p>enter city: <input type = "text" name = "city" /></p>
          <p>enter experience: <input type = "text" name = "exp" /></p>
          <p>enter education: <input type = "text" name = "edu" /></p>
          <p><input type = "submit" value = "search jobs" /></p>
      </form>
    </center>
</body>
</html>
